<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>785536719652-fltai0qvvvuesdfvit5vq1j03mo8bahl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.785536719652-fltai0qvvvuesdfvit5vq1j03mo8bahl</string>
	<key>API_KEY</key>
	<string>AIzaSyBo3Spa6nfTK-XwKktkrvHdGpew1hhVDkY</string>
	<key>GCM_SENDER_ID</key>
	<string>785536719652</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.postworld.sembly</string>
	<key>PROJECT_ID</key>
	<string>sembly-staging</string>
	<key>STORAGE_BUCKET</key>
	<string>sembly-staging.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:785536719652:ios:765c465ccea4228d</string>
	<key>DATABASE_URL</key>
	<string>https://sembly-staging.firebaseio.com</string>
</dict>
</plist>
